.project-card-container {
  max-width: 700px;
  max-height: 600px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 80px;
}

.project-card {
  position: relative;
  overflow: hidden;

}

.project-img {
  width: 600px;
  height: 500px;
  object-fit: cover;
  transition: transform 0.3s ease;
  overflow: hidden;
  border-radius: 20px;
}

.project-card:hover .project-img {
  transform: scale(1.05);
  /* Slight zoom on hover */
  border-radius: 20px;
}


.project-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.project-title {
  font-size: 1.5rem;
  margin: 20;
  margin-left: 20px;
}

.project-icons {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  align-items: center;
}


.icon:hover {
  color: #ffffff;
  /* Accent color on hover */
}

.arrow-icon {
  transform: rotate(45deg);
  /* Tilted right arrow */
}

/* Paragraph below the card */
.project-description {
  color: var(--project-color);
  font-size: 1rem;
  letter-spacing: 0em;
  font-weight: 600;
  text-align: center;
}