@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

/* Light Theme */
.app.light {
  --bg-color: #4C6EE2;
  --text-color: white;
  --accent-color: white;
  --secondary-text-color: #282830;
  --project-color:#282830;
}

/* Dark Theme */
.app.dark {
  --bg-color: #504C26;
  --text-color: #EBFF00;
  --accent-color: #EBFF00;
  --secondary-text-color: #282830;
  --project-color:#282830;
}

/* Blue Theme */
.app.blue {
  --bg-color: #B9282F;
  --text-color: #EDD0C2;
  --secondary-text-color: #EDD0C2;
  --accent-color: #EDD0C2;
  --project-color:#282830;
}

/* Global Styles (applies to all themes using variables) */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header, .Home {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h5 {
  color: var(--text-color);
}

p, .banner_img_container p {
  color: var(--secondary-text-color);
}
